.title {
  font-size: 5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

.container_about {
  margin: 10px;
  display: flex;
  flex-direction: column;
  background: #efefef;
}

.container_imgs {
  padding: 10px;
  background: #222;
  display: flex;
  justify-content: space-around;
}

.img2 {
  /*  border-radius: 10%; */
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #000;
  box-shadow: inset 0px 0px 5px #222, 0px 0px 5px #111;
}

.container_about_container_cards {
  height: 300px;

  display: flex;
  justify-content: space-between;
}

.container_about_container_cardsA {
  height: 300px;

  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.container_about_container_cards_img {
  width: 50%;
  box-shadow: 0px 0px 5px #111;
  background: #0c5896;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  /*  border-radius: 10%; */
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #103f66;
  box-shadow: inset 0px 0px 5px #c2c2c2, 0px 0px 5px #546470;
}

.container_about_container_cards_data {
  font-size: 20px;
  padding: 20px;
  box-shadow: 0px 0px 5px #c2c2c2;

  background: #fff;
  color: #111;
  width: 50%;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container_about_container_cards_data_name {
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
